 @charset "UTF-8";
 html,body{
     display: block;
     width: 100%;
     height: 100%;
     margin: 0;
     background-color: #000;
 }
 .glitch{
     position: relative;
     animation: glitchAnim 3s linear infinite,glitchColour 7s step-start infinite;
 }
 .image{
     display: inline-block;
     width: 39em;
     height: 20em;
     background-repeat: no-repeat;
     background-size:cover;
 }
 @keyframes glitchAnim{
     0%,5%,40%,60%,100% {
     transform: scaleY(1);
     }
     4.3%{
         transform: scaleY(2);
     }
 }
 @keyframes glitchColour {
     0%,5%,99%{filter:grayscale(0);}
     4%,6%,100%{filter:grayscale(100);}
 }