:root{
    --theme-primary:#f00;
    --theme-secondary:#f0f;
    --theme-text:#fff;
}
header{
    width: 100%;
    padding: 25px 0;
    background-color: var(--theme-primary);
    color: var(--theme-text);
    }
nav {
    width:100%;

}
main{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    margin: 20px auto;
}
article{
    flex-basis: 65%;
    margin-right:5%;
}
aside{
    flex-grow:1;
    padding: 20px;
    background-color: #ccc;
}
footer {
    padding: 25px 0;
    background-color: var(--theme-secondary);
}