<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Listing app</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="script/services/listingServices.js"></script>
    <script src="script/filters/listingFilters.js"></script>
    <script src="script/modules/listing.js"></script>
    <script src="script/myApp.js"></script>
</head>
<body data-ng-app="listingApp">
<section data-ng-controller="listingCtrl">
    <h1>{{title}}</h1>
    <div class="controls">
        <input type="text" data-ng-model="filters.query" placeholder="search news" />
        <div class="clear">
            <div data-ng-repeat="tag in filters.tags" class="checkbox">
                <label for="{{tag.label}}">{{tag.label}}</label>
                <input id="{{tag.label}}" type="checkbox" data-ng-checked="tag.selected"/>
            </div>
        </div>
        <label for="sortBy">Sort by</label><select name="sortBy" id="sortBy" data-ng-model="descending">
        <option value="true">Newest first</option>
        <option value="false">Oldest first</option>
    </select>
    </div>
        <ul>
            <!--<li data-ng-repeat="article in articles|filter:qeury| orderBy:'pubDate':descending|limitTo:viewLimit">-->
            <li data-ng-repeat="article in articles|newsFilter:filters| orderBy:'pubDate':descending|limitTo:viewLimit">
                <h2>{{article.title}}</h2>
                <p>{{article.pubDate|date:'dd/MM/yy'}}</p>
                <p>{{article.description}}</p>
            </li>
        </ul>
    <button data-ng-click="viewMore(2)" data-ng-hide="viewLimit >= articles.length">View More</button>
</section>
</body>
</html>